<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>HipKey Vietnamese Input</string>
    <key>CFBundleExecutable</key>
    <string>HipKeyInputMethod</string>
    <key>CFBundleIdentifier</key>
    <string>com.hipkey.inputmethod.vietnamese</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>HipKeyInputMethod</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>LSBackgroundOnly</key>
    <false/>
    <key>LSUIElement</key>
    <true/>
    <key>InputMethodConnectionName</key>
    <string>HipKeyInputMethod</string>
    <key>InputMethodServerControllerClass</key>
    <string>HipKeyInputController</string>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Latn</string>
        <string>Grek</string>
    </array>
    <key>tsInputMethodIconFileKey</key>
    <string>AppIcon</string>
    <key>ComponentInputModeDict</key>
    <dict>
        <key>tsInputModeListKey</key>
        <dict>
            <key>com.hipkey.inputmethod.vietnamese.telex</key>
            <dict>
                <key>TISInputSourceID</key>
                <string>com.hipkey.inputmethod.vietnamese.telex</string>
                <key>TISIntendedLanguage</key>
                <string>vi</string>
                <key>tsInputModeDefaultStateKey</key>
                <true/>
                <key>tsInputModeKeyEquivalentKey</key>
                <string></string>
                <key>tsInputModeKeyEquivalentModifiersKey</key>
                <integer>0</integer>
                <key>tsInputModeMenuIconFileKey</key>
                <string>AppIcon</string>
                <key>tsInputModePrimaryInScriptKey</key>
                <true/>
                <key>tsInputModeScriptKey</key>
                <string>smUnicodeScript</string>
            </dict>
            <key>com.hipkey.inputmethod.vietnamese.vni</key>
            <dict>
                <key>TISInputSourceID</key>
                <string>com.hipkey.inputmethod.vietnamese.vni</string>
                <key>TISIntendedLanguage</key>
                <string>vi</string>
                <key>tsInputModeDefaultStateKey</key>
                <false/>
                <key>tsInputModeKeyEquivalentKey</key>
                <string></string>
                <key>tsInputModeKeyEquivalentModifiersKey</key>
                <integer>0</integer>
                <key>tsInputModeMenuIconFileKey</key>
                <string>AppIcon</string>
                <key>tsInputModePrimaryInScriptKey</key>
                <false/>
                <key>tsInputModeScriptKey</key>
                <string>smUnicodeScript</string>
            </dict>
        </dict>
    </dict>
</dict>
</plist>